/*------------------------------------*\
    #HINKLER
\*------------------------------------*/

/**
 * CONTENTS
 *
 * SETTINGS
 * Default..............inuitcss’ default settings.
 * Colors................Manage our color palette in isolation.
 * Responsive...........Set up and name our breakpoints.
 *
 * TOOLS
 * Functions............inuitcss’ default functions.
 * Mixins...............inuitcss’ default mixins.
 * Responsive...........Responsive tooling (requires responsive settings).
 *
 * GENERIC
 * Normalize.css........A level playing field.
 * Box-sizing...........Better default `box-sizing`.
 *
 * BASE
 * Page.................Page-level styles (HTML element).
 *
 * OBJECTS
 * Flag.................THe flag object.
 *
 * COMPONENTS
 * Map
 *
 * TRUMPS
 */


/**
 * #SETTINGS
 */
$inuit-base-font-size:   16px;
$inuit-base-line-height: 24px;
@import "bower_components/inuit-defaults/settings.defaults";
@import "ui/settings.colors";
@import "bower_components/inuit-responsive-settings/settings.responsive";




/**
 * #TOOLS
 */
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-responsive-tools/tools.responsive";





/**
 * #GENERIC
 */
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";





/**
 * #BASE
 */
@import "bower_components/inuit-page/base.page";






/**
 * #OBJECTS
 */
$inuit-enable-flag--rev:            true;
$inuit-enable-flag--responsive:     true;
@import "bower_components/inuit-flag/objects.flag";




/**
 * #COMPONENTS
 */
@import "ui/map";
@import "ui/page-head";





/**
 * #TRUMPS
 */