/*------------------------------------*\
    #PAGE-HEAD
\*------------------------------------*/

.page-head {
//  @extend %clearfix;
//  font-weight: 600;
}

#imgTitle {
//    display: block;
//    float: left;
}

#grid {
//    margin:  0;
//    padding: 0;
//    float: right;
//    overflow: visible;
}


#content {
    background-color: #000;
}

.index__item {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin: 0 0.5em 0.5em 0;
  padding-top: 0.5em;
  background-color: #fff;
  color: #000;
  text-align: center;
}